@font-face{
    font-family: sohopro;
    src: url('SohoPro-Condensed.otf');
}
@font-face{
    font-family: sohopro_ie;
    src: url('SohoPro-Condensed.eot');
}
body{
    background: #2e3132;
	/*background: white;*/
    font-family: "SohoPro-Condensed", sohopro, sohopro_ie, serif;
    margin: 0;
}
#support_message, #support_none, #support_limited{
    display: none;
}
#support_message{
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    background: rgb(204, 204, 204);
    border: 3px solid black;
    z-index: 5;
}
#support_none, #support_limited{
    position: relative;
    top: 35%;
    text-align: center;
}
#support_button{
    width: 20%;
}
#frame{
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
	background-image: url('background.png');
	background-size: 100% 100%;
}
#frame a:link, #frame a:visited{
    color: black;
    text-decoration: none;
}
#lab_video{
    position:absolute;
	left: 4%;
	top: 22%;
    width: 57%;
    height: 57%;
	border-style: solid;
	border-color: #999;
	border-width: 0.35em;
	box-shadow: 0.5em 0.5em 0.5em rgba(0,0,0,0.25);
}
#logo1{
	height: 13%;
    position: absolute;
	top: 1em;
	left: 1em;
}
#logo2{
	height: 13%;
    position: absolute;
	top: 1em;
	right: 1em;
}
.slider_arrow{
    position: absolute;
    width: auto;
    /* The above line overrides the size declared on the svg element,
     * and makes the width scale to fit the height at the proper aspect ratio. */
	transition: opacity 1s;
	-moz-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
}
#arrow_left{
    height: 18%;
    top: 42%;
    left: 2%;
	opacity: 0;
}
#arrow_right{
    height: 18%;
    top: 42%;
    right: 2%;
}
#arrow_up{
    width: 10%;
    left: 45%;
    top: 1%;
}
#arrow_down{
    width: 10%;
    left: 45%;
    bottom: 1%;
}
#slider{
    position: absolute;
}
#frame_middle{
    position: absolute;
    overflow: hidden;
}
#frame_left{
    position: absolute;
	overflow: hidden;
}
#frame_right{
    position: absolute;
	overflow: hidden;
}
#code_display{
	z-index: 1;
    background: white;
    position: absolute;
    font-family: monospace;
    font-size: 0.5em;
    padding: 0% 1%;
	left: 6%;
    width: 51%;
    max-height: 57%;
    min-height: 3em;
	border-style: solid;
	border-color: #999;
	border-width: 0.70em;
	box-shadow: 0.5em 0.5em 0.5em rgba(0,0,0,0.25);
	transition        : height 1s, width 1s, left 1s, bottom 1s;
	-moz-transition   : height 1s, width 1s, left 1s, bottom 1s;
	-webkit-transition: height 1s, width 1s, left 1s, bottom 1s;
	-o-transition     : height 1s, width 1s, left 1s, bottom 1s;
    overflow: auto;
}
#code_display.hidden{
	bottom: -65%;
}
#code_display.displayed{
	bottom: 12%;
}
.tip{
    cursor: pointer;
	border-radius: 0.2em;
}
.tip div.content{
    position: relative;
    background: white;
    display: inline-block;
	vertical-align: top;
    overflow: hidden;
    z-index: 3;
}
.tip .content pre.code{
    font-family: monospace;
    font-size: 0.5em;
    margin: 1em;
    margin-top: -0.5em;
    padding: 0.25em;
    background: rgb(240,240,240);
    border: solid 1px rgb(204,204,204);
    border-radius: 0.2em;
    overflow: auto;
}
.tip .header{
}
.tip .header .title{
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
}
.tip .header:after{
    display: inline-block;
    vertical-align: middle;
    width: 0.5em;
    content: ' ';
    overflow: hidden;
}
.tip div.title{
    text-align: left;
}
.tip div.icon{
    position: relative;
	display: inline-block;
	vertical-align: top;
    background: #7f8184;
    text-align: center;
	border-radius: 0.2em;
    z-index: 0;
}
.tip div.icon img{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
}
#tip_area{
	position: absolute;
	right: 6%;
	top: 19%;
	height: 13em;
	width: 10em;
}
#tip_area .tip{
    display: block;
	position: relative;
	padding: 0px;
    width: 10em;
    height: 2.5em;
	margin-bottom: 1em;
    opacity: 0;
	box-shadow: 0.5em 0.5em 0.5em rgba(0,0,0,0.25);
	transition        : opacity 1s, height 1s, width 1s, left 1s, margin 1s, margin-bottom 1s;
	-moz-transition   : opacity 1s, height 1s, width 1s, left 1s, margin 1s, margin-bottom 1s;
	-webkit-transition: opacity 1s, height 1s, width 1s, left 1s, margin 1s, margin-bottom 1s;
	-o-transition     : opacity 1s, height 1s, width 1s, left 1s, margin 1s, margin-bottom 1s;
}
#tip_area .tip div.content,
#tip_area .tip div.header,
#tip_area .tip div.icon,
#tip_area .tip .header:after{
    height: 2.5em;
}
#tip_area .tip div.content{
    width: 7.5em;
    background: white;
    border-radius: 0.2em;
}
#tip_area .tip div.header{
    width: 7.25em;
}
#tip_area .tip div.title{
    line-height: 0.95em;
    width: 6em;
}
#tip_area .tip div.icon{
    width: 2.5em;
}
#tip_area .tip.step div.icon{
    background: red;
}
#tip_area .tip div.icon img{
}
.expander .tip div.header,
.expander .tip div.icon,
.expander .tip .header:after{
    height: 2em;
}
.expander .tip div.content,
.expander .tip div.icon{
	box-shadow: 0.5em 0.5em 0.5em rgba(0,0,0,0.25);
    border-radius: 0.2em;
}
.expander .tip{
    display: inline-block;
    margin: 0em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    min-height: 2em;
    width: 11em;
}
.expander .tip div.content{
    width: 9em;
}
.expander .tip.double{
	width: 23em;
}
.expander .tip.double div.content{
    width: 21em;
}
.expander .tip.double div.title{
    width: 20em;
}
.expander .tip div.title{
    margin-left: 0.5em;
    font-size: smaller;
}
.expander .tip div.icon{
    width: 2em;
    height: 2em;
}
.expander .tip div.icon img{
}
/* Left Div, Resource Link Area */
#instructions_list{
	display: block;
	list-style: none;
	position: relative;
	margin: auto 5%;
    padding-bottom: 3em;
    /* Padding gives the slider a margin of error.*/
    top: 0em;
	transition        : top 0.2s;
	-moz-transition   : top 0.2s;
	-webkit-transition: top 0.2s;
	-o-transition     : top 0.2s;
}
.instruction{
    margin: 1em 0em;
    padding: 0em;
}
/*.instruction > .icon,*/
.instruction > .content/*,
.tip*/{
    border: 0.02em solid black;
}
.instruction > .icon{
	background: red;
	display: inline-block;
	width: 3em;
	height: 3em;
    border-radius: 0.2em;
	box-shadow: 0.5em 0.5em 0.5em rgba(0,0,0,0.25);
    vertical-align: top;
    cursor: pointer;
}
.instruction > .content{
	background: white;
	display: inline-block;
    border-radius: 0.2em;
    width: 26em;
    min-height: 3em;
	box-shadow: 0.5em 0.5em 0.5em rgba(0,0,0,0.25);
}
.instruction > .content > .header{
    height: 3em;
}
.instruction > .content > .header > .title{
    display: inline-block;
    vertical-align: middle;
    width: 23em;
    cursor: pointer;
}
.instruction > .content > .header > .title > img{
    display: inline-block;
    vertical-align: middle;
    height: 2.5em;
    margin-right: 1em;
}
.instruction > .content > .header > .time_stamp{
    display: inline-block;
    vertical-align: middle;
    color: blue;
    cursor: pointer;
}
.instruction > .content > .header > .title:before{
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 3em;
    content: ' ';
}
.instruction .expander{
    display: none;
    opacity: 0;
    padding: 0em;
	transition        : opacity 0.5s;
	-moz-transition   : opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-o-transition     : opacity 0.5s;
}
.instruction .notes{
    margin: 0em 1em;
    margin-bottom: 0.5em;
    border-bottom: dotted 0.075em grey;
    font-size: smaller;
}
#instructions_slider{
    background: white;
    position: absolute;
    top: 1em;
    right: 1em;
    width: 2em;
    height: 17.5em;
    border-radius: 0.2em;
	box-shadow: 0.5em 0.5em 0.5em rgba(0,0,0,0.25);
    z-index: 3; /* Above the nav arrows.*/
}
#instructions_slider *{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: pointer;
}
#instructions_slider .scroll_bar{
    position: absolute;
    top: 2em;
    left: 0em;
    width: 2em;
    height: 13.5em;
    
}
#instructions_slider .scroll_up{
    position: absolute;
    top: 0em;
    left: 0em;
    width: 2em;
    height: 2em;
    border-radius: 0.2em 0.2em 0em 0em;
    background: grey;
}
#instructions_slider .scroll_down{
    position: absolute;
    bottom: 0em;
    left: 0em;
    width: 2em;
    height: 2em;
    border-radius: 0em 0em 0.2em 0.2em;
    background: grey;
}
#instructions_slider .scroll_handle{
    position: absolute;
    width: 2em;
    border-radius: 0.2em;
    background: red;
    /**/
    min-height: 1em;
    
}
.no_select{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

/* Custom video controls. */
#control_panel{
	position: absolute;
	bottom: 0%;
	left: 10%;
	width: 80%;
	height: 10%;
	background: rgba(153, 153, 153, 0.5);
    border-radius: 0.2em 0.2em 0% 0%;
    z-index: 2;
}
#control_panel:hover{
	opacity: 1;
}
#control_big_play{
    cursor: pointer;
    position: absolute;
    top: 40%;
    height: 20%;
    left: 40%;
    width: 20%;
	transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
}
#control_play{
    cursor: pointer;
	position: absolute;
	top: 15%;
	left: 7%;
	height: 67%;
	width: 4.92%; /* 70% of 10% = what% of 80%; w = 8.75; a = 16:9 */
}
#control_progress{
    cursor: pointer;
	position: absolute;
	top: 29%;
	left: 14%;
	height: 40%;
	width: 60%;
	overflow: hidden;
	background: rgb(102, 102, 102);
	z-index: 3;
}
#control_elapsed_time{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 0%;
	background: rgb(153, 153, 153);
}
#control_buffered_time{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 0%;
	background: rgb(51, 51, 51);
}
#control_progress:hover #control_elapsed_time{
	background: red;
}
#control_timer{
	position: absolute;
	top: 0%;
	left: 75%;
	height: 100%;
	width: 13%;
	z-index: 1;
}
#control_mute{
    cursor: pointer;
	position: absolute;
	top: 15%;
	left: 88%;
	height: 70%;
	width: 4.92%;
}